<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>homepage</title>
</head>
<body>
</body> 
    <%- include('./partials/nav') %>
    <%- include('./partials/scripts') %>
</body>
</html>